body, html{
	height:100%;
}

#myCanvas {
    position: relative;
    top: 3%;
    left: 25%;
    /* width: 50%; */
    /* height: 50%; */
    /* margin: 0% 25%; */
    /* margin-top: 14%; */
    /* margin-left: 25%; */
}

#restart {
    position: absolute;
    top: 500px;
    left: 1000px;
    width: 200px;
    height: 100px;
    background-color: gray;
    color: white;
    font-size: 20px;
	visibility:hidden;
}
