body, html{
	height:100%;
}

.content{
	height:100%;
}

.relativo{ position:relative;}
/*sidebar y contenido extra del juego*/
.sidebar {
    background-color: red;
    height: 100%;
    /*text-align: center;*/
}

#nextSkin{
	background-color:red;
	position:fixed;
	top:0px;
	right:0px;
	width:300px;
	height:300px;
	
}


/*temina extras del juego*/
#myCanvas {
    position: absolute;
    top: 3%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    /* width: 50%; */
    /* height: 50%; */
    /* margin: 0% 25%; */
    /* margin-top: 14%; */
    /* margin-left: 25%; */
}


#restart {
    position: absolute;
    top: 500px;
    left: 1000px;
    width: 200px;
    height: 100px;
    background-color: gray;
    color: white;
    font-size: 20px;
	visibility:hidden;
}

#audio{
	position:fixed;
	right:0px;
	bottom:0px;
	background-color:red;
	width:300px;
	height:100px;
}

#gameBackground{
	position:absolute;
	display:none;
}
